.search-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: green 1px solid;
}

.search-input{
    width: 95%;
    margin: 0;
    padding-left: 3px;
    border-radius: 5px;
    border-style: none;
    border: 1px rgb(65, 62, 62) solid;
}