.head-useragent{
    margin: 5px;
    padding: 3px 10px 3px 2px;
    border: blue 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space-head{
    width: 75%;
}
.img-perfil-head-container{
    margin: 0;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-perfil-headuser{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    
}