.sidebar-user-message{
position: relative;
}
.estado-user{
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: green;
}
.user-container {
    display                 : grid;
    grid-template-columns   : 45px 1fr;
    padding-left: 4px;
    margin                  : auto;
    /* border-bottom        : 1px solid rgb(207, 204, 203); nope*/
    height                  : 72px;
    background              : #ffffff;
    width                   : 380px;
    border-radius           : 10px;

}

.user-container:hover {
    background: #d9d9d9;
}

.user-container:hover .preview-message * {
    color: black;
}

.user-container * {
    font-family: 'Lato', sans-serif;
    cursor     : pointer;
}

.img-perfil-container {
     margin: 0; /* NO DELETE */
    margin-left       : 2px;
    width             : 40px;
    height            : auto;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    /* border         : blue 1px solid; */
    box-sizing        : border-box;

}

.img-perfil-user {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    position     : relative;

}

.received-container {
    /* border  : rgb(0, 128, 0) 1px solid; */
    padding-top: 5px;
}



.name-container {
    padding-left   : 4px;
    padding-top    : 5px;
    /* border      : 1px rgb(87, 95, 104) solid; */
}

.name-user {
    margin     : 0;
    font-weight: 600;
}

.preview-message {
    width          : 327px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    color          : #777777;
}

.last-message {
    min-width    : 0;
    margin-left  : 4px;
    margin-right : 4px;
    font-size    : 14px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : pre;
}

.message-count-media {
    visibility: hidden;
    display   : none;

}

.message-count-media,
.message-count {

    height       : 20px;
    border-radius: 50%;
    color        : white !important;
    text-align   : center;

    justify-content: center;
    align-items    : center;
    background     : rgb(36, 179, 32);
}

.message-count {
    min-width: 20px;
    margin-right: 3px;
    padding-right: 1px;
    padding-top: 1px;
}

.time-container {
    text-align   : center;
    /* border    : rgb(132, 0, 255) 1px solid; */
    max-height   : 37px;
    margin-right: 5px;
}

.time-container abbr[title] {
    text-decoration: none;
}

.time-message {
    cursor      : default;
    font-size   : 12px;
    color       : rgb(88, 97, 107);
    /* border   : 1px solid darkred; */
}