.send-message-container {
    display         : flex;
    align-items     : center;
    background-color: #80808042;
}

.send-message-input {
    padding      : 8px;
    margin-left  : 40px;
    border-radius: 18px;
    flex         : 1 1 auto;
    border       : 1px rgb(179, 169, 169) solid;
    height       : auto;
    width        : auto;
}