.message-container {
    display         : flex;
    flex-direction  : column;
    background-color: #dfffe7;
    overflow-y      : auto;
    /* Cambiar luego que se agregue funcionalidad */
    align-items: flex-start;
}

.message-in {
    align-items: flex-start;
}

.message-out {
    align-items: flex-end;
}