.container-icon {
    min-width         : 43px;
    height            : 42px;
    border-radius     : 50%;
    /* border         : 1px green solid; */
    text-align        : center;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    cursor            : pointer;
    position          : relative;
    /* overflow       : hidden; */
    transition        : ease-in-out .3s width,
        ease-in-out .1s transform;
}

.container-icon:hover {
    background: #cecece;
}

.i_c_h_options:active {
    background: rgba(127, 240, 255, 0.726);
}
.icon_span {
    content      : "";
    position     : absolute;
    width        : 20%;
    height       : 20%;
    border-radius: 50%;
    opacity      : 0;
    transition   : ease .2s width,
        ease .2s height;
}

.icons {
    width     : 23px;
    z-index   : 10;
    box-sizing: border-box;
}

.container-icon:active .icon_span {
    width     : 110%;
    height    : 110%;
    background: rgb(195, 195, 195);
    opacity   : 1;
}