.user-container {
    display: grid;
    grid-template-columns: 40px 60% 20%;
    padding: 2px;
    border: 1px solid rgb(236, 101, 60);
}
.user-container *{
    font-family: 'Lato', sans-serif;
}
.img-perfil-container{
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: blue 1px solid;
}
.img-perfil-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    

}
.name-container{
    padding-left: 4px;
    padding-top: 5px;
    border: 1px rgb(87, 95, 104) solid;
}
.name-user{
    margin: 0;
}
.time-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    border: rgb(132, 0, 255) 1px solid;
}
.time-message{
    cursor: default;
    font-size: 12px;
    color: rgb(88, 97, 107);
    border: 1px solid darkred;
}