.search-container {
    position: relative;
    display        : flex;
    justify-content: center;
    padding        : 10px;
    /* border         : green 1px solid; */
    background     : #eaeaea;
}

.search-input {
    width        : 95%;
    margin       : 0;
    padding-left : 6px;
    padding-right: 38px;
    border-radius: 5px;
    border-style : none;
    /* border       : 1px rgb(65, 62, 62) solid; */
}
.main-wrapper {
    position: absolute;
    text-align: center;
    top: -3px;
}
i.material-icons {
    font-size: 1.5rem;
    top: 11px;
    right: -170px;
    color: #a6a6a6;
    position: relative;
    padding: 5px;
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:nth-of-type(4) {
    background-color: #88b999;
}

i.material-icons:nth-of-type(4):hover {
    color: #88b999;
}

i.material-icons:hover {
    background-color: transparent;
    transform: rotate(90deg);
    cursor: pointer;
    box-shadow: none;
}